<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark ml-4 pl-1 mb-4" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" style="margin-left: 1rem;" href="#">Reminder App</a>
<!--  TODO fix inline css-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <ng-container *ngIf="userService.isLoggedIn$ | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">
<!--          <i class="fa fa-envelope-o">-->
<!--            <span class="badge badge-danger">11</span>-->
<!--          </i>-->
          Reminder List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="createReminder">
          <!--          <i class="fa fa-envelope-o">-->
          <!--            <span class="badge badge-danger">11</span>-->
          <!--          </i>-->
          Create Reminder
        </a>
      </li>
      </ng-container>
    </ul>
<!--    <ng-container *ngIf="userService.isLoggedIn$ | async">-->
<!--    <ul class="navbar-nav ml-auto ">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="fa fa-bell">-->
<!--            <span class="badge badge-info">11</span>-->
<!--          </i>-->
<!--          Test-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    </ng-container>-->
  </div>
  <ng-container *ngIf="userService.isLoggedIn$ | async">
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-user"></i>
          {{(userService.user$ | async)?.firstName}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </li>
    </div>
    </ng-container>
</nav>


